@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.boxStyle {
  width: 300px;
  height: fit-content;
  padding: 15px;
  /* padding-top: 50px; */
  margin: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.tags {
  width: 73px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
  color: #3D1DF3;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  /* 150% */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: end;
}

.wait {
  background: rgba(61, 29, 243, 0.40);
}

.course {
  background: #F8E169;
}

.delivered {
  background: #C7FFB1;
}

.headerBox {
  background-color: #c7ffb1;
  padding: 10px;
  padding-bottom: 20px;
  color: #3d1df3;
  text-align: center;
  height: 60px;
  width: 300px;
  display: flex;
  margin: auto;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 1;
  top: 10px;
  /* font-family: "Poppins", sans-serif;
   font-weight: 700;
  font-size: 16px;  */
}

.arrowIcon {
  position: absolute;
  margin: 10px;
  margin-left: 0;
  font-size: 30px;
  color: #3d1df3;
}

.arrowIcon:hover {
  cursor: pointer;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.deliveryMapInfo {
  display: flex;
  color: #3d1df3;
  /* font-family: "Poppins", sans-serif; */
}

.mapContainer {
  width: 270px;
  height: 280px;
  display: flex;
  margin: 0 auto 25px;
  border: 1px solid #3d1df3;
  border-radius: 10px;
  background-image: url('/img/map.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion {
  font-family: "Poppins", sans-serif;
}

.paquetes {
  color: #3D1DF3;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

.infoP {
  font-family: "Poppins";
  font-size: 12px;
}