.details-date{
  font-size: 14px;
  font-family: 'Poppins' sans-serif;
  font-weight: 400;
  color: #3d1df3;
}

.box-dotted-line2 {
  border: 0.5px dotted #3d1df3;
  width: 250px;
  margin-bottom: 3px;
  display: flex;
  margin: 0 auto 5px;
}

.detailsName {
  width: 95%;
  display: flex;
  justify-content: start;
  font-family: "Poppins" sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #3d1df3;
  padding: 5px 5px 3px 8px;
}

.detailsContainer {
  position: relative;
  width: 100%;
}

.detailsContainer3 {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  margin: auto;
  width: 100%;
}

.detailsContainer3::-webkit-scrollbar {
  height: 2px;
}

.driver-container {
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.percentage {
  width: 71px;
  height: 71px;
  border-radius: 70px;
}

.percentage-name-container {
  display: flex;
}

.title-quantity-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 3px;
}

.title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bolder;
  line-height: 15px;
  letter-spacing: 0em;
  color: #3D1DF3;
}

.quantity{
  font-family: "Poppins" sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #3D1DF3;
}
.button-container {
  height: 100%;
  display: flex;
  align-items: end;
  margin-top: auto;
}