@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-container {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.showPswIcon-container {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
}

.inputBlue {
  width: 300px;
  height: 35px;
  margin: 5px;
  padding-left: 2.5rem;
  border: 0.5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.inputBlue::placeholder {
  color: white;
  opacity: 0.7;
  font-weight: 400;
}

.inputWhite {
  width: 270px;
  height: 35px;
  margin: 5px;
  padding-left: 1rem;
  border: 0.5px solid rgba(61, 29, 243, 1);
  border-radius: 10px;
  color: rgba(61, 29, 243, 1);
  background-color: transparent;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.inputWhite::placeholder {
  color: #3d1df3;
  opacity: 0.7;
  font-weight: 400;
}

.showPswBtnWhite {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-left: 5px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

.showPswBtnWhite:hover {
  cursor: pointer;
}

.inputWhite .showPswBtn {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-left: 5px;
  text-decoration: underline;
  color: rgba(61, 29, 243, 1);
}

.arrow-container{
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}