.notFoundContainer{
  display: flex;
  margin: 400px auto;
  align-items: center;
  justify-content: center;
}
.codeContainer{
  width: fit-content;
  padding: 10px 20px;
  border-right: 1.5px solid black;
}

.code{
  color: black;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 25px;
}

.message{
  padding: 10px 20px;
  color: black;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
}